.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text: 2rem;
    --head: calc(1rem + 5vw);
    --bgcolor: #f6b93b;
}
body{
     font-family: 'Poppins', sans-serif;
}
.hero-section{
    min-height: 100vh;
    background: 
    linear-gradient(black, transparent)
    ,url(https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0rem 1rem;
    color: white;
    transform: translateX(-100%);
    animation: moveto 850ms ease-in 1s forwards;
}
@keyframes moveto{
    from{
        transform: translateY(-100%);
    }to{
        transform: translateX(0%);
    }
}
.navbar ul{
    list-style: none;
}
.navbar ul li{
    display: inline-block;
    margin-left: 3rem;
    font-size: var(--text);
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
}

.navbar ul li a:hover{
    border-bottom: 2px solid white;
    
}
.hero-text {
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slide 1s ease-in-out;
}

@keyframes slide {
    from{
        transform: translateX(-100%);
    }to{
        transform: translateX(-0%);
    }
}
.hero-text a{
    color: white;
    background-color: var(--bgcolor);
    font-weight: 900;
    font-size: var(--text);
    text-decoration: none;
    padding: 0.8rem 1rem;
    margin: 0.8rem auto;
    display: block;
    transition: transform .4s;

}
.hero-text a:hover{
    opacity: 0.8;
}
.hero-text h2{
    font-size: var(--head);
}
.hero-text p{
    font-size: var(--text);
}
.info{
	
	width: 100%;
	padding: 100px 0px;
	
	background:#191919;
    background-image: url(/);
	background-size: cover;
	background-position: center;
}
.info img{
	
	height: auto;
	width: 350px;
	
}
.info-text{
	position: relative;
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.info-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.info-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.info-text p{
	color:  white;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 25px;
	margin-bottom: 45px;
}
.contents{
	
	position: left;
	top: 80%;
	right:10%;
	left: 10%;
	
	
	transform: translateX(-100%);
    animation: moveto 850ms ease-in 1s forwards;
	transform: translateY(-40%);
	
}


h1{
	color:white ;
	margin: 10px 0px 10px;
	font-size: 30px;
	margin-bottom: 10px;
}

h2{
	color:white;
	font-size: 20px;
	margin-bottom :10px  ;
}
h3{
	color: white;
	border: #010101;
	font-size: 20px;
	margin-bottom:20 px;
}
h4{
	color: white;
	letter-spacing: 1px;
	font-size: 30px;
	margin-bottom: 25px;
}
